[Unit]
Description=Magic-Wormhole
After=network.target

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/venv/bin/twist transitrelay --port=tcp:__PORT__
Restart=always

[Install]
WantedBy=multi-user.target
